html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

span {
background-color: #ffcc00; /*Golden*/
font-family: Raleway, Comic Sans MS, sans-serif;
font-size: 40px;
margin-top: 0px
}

.menu-button {
border-bottom: 2px solid;
background-color: #ffcc00; /*Golden*/
font-family: Raleway, Comic Sans MS, sans-serif;
font-size: 40px;
margin-top: 0px;
}

img {
height: 50px;
width: 50px;
margin-right: 20px;
margin-top: 4px;
}

.dropdown {
float: right;
display: inline-block;
}

.dropdown-content {
display: none;
position: relative;
background-color: #f9f9f9;
width: 225px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown-content:hover {
background-color: #cccccc;
}

a {
color: #000000;
}

a:hover {
color: #000000;
}

p {
font-size: 40px;
}
